body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header, footer {
background-color: deeppink;
}
.site-title{
    color: aqua;
}
#my-image{
    box-shadow:0 0 3px 3px  black;
}
 ul.hobbies{
    list-style-type: square;;
 }