body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

header, footer {
background-color: rgb(255, 20, 147);
}

.site-title {
    color: aqua;
}

#my-image{
    box-shadow:0 0 2px 1px  black;
}

 ul {
    list-style-type: square;
 } 