/* global Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #00fad2;
  color: black;
  margin: 0;
  padding: 0;
}

/* Main wrapper for content */
.main-container {
  background-color: rgb(16, 224, 210);
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Header styling */
header {
  color: white;
  position: relative;
  text-align: center;
}

/* Header image styling */
header img {
  width: 100%;
  height: 300px;
  padding: 0;
}

/* Header title styling */
header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/* Navigation menu styling */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Navigation menu item styling */
nav ul li {
  display: inline-block;
  margin: 0 125px;
  position: relative;
}

/* Navigation menu item separator styling */
nav ul li::before {
  content: "";
  background-color: black;
  position: absolute;
  left: -100px;
  width: 1px;
  height: 50px;
}

/* Hide separator before first menu item */
nav ul li:first-child::before {
  display: none;
}

/* Navigation link styling */
nav ul li a {
  text-decoration: none;
  padding: 20px 25px;
  display: inline-block;
  color: black;
}

/* Article section styling */
article {
  padding: 10px;
}

/* Image in article styling */
article img.left {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Section styling */
section {
  padding: 15px;
  margin-bottom: 15px;
}

/* Contact section styling */
.contact-section {
  padding: 20px;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 4px;
  margin-left: 4px;
}

/* Form label styling */
form label {
  display: block;
  margin-top: 10px;
}

/* Form input and textarea styling */
form input,
form textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

/* Radio button styling */
.radio {
  display: flex;
  align-items: center;
  width: 200px;
}

/* Radio button label styling */
.radio label {
  margin: 0;
  padding: 10;
}

/* Submit button styling */
button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: black;
  border-radius: 5px;
}

/* Footer styling */
footer {
  text-align: right;
  padding: 20px;
  margin-top: 20px;
}
